<%- include ('./partials/head.ejs') %>

    <body>
        <%- include ('./partials/navbar.ejs') %>
            <div class="container">
                <a href="/"><button type="button" class="voltar btn btn-success">Voltar para o início</button></a>
            </div>
            <main>
                <section class="infoBanca container">
                    <div class="card text-center">
                        <div class="card-header">
                            <div class="card-title">
                                <h1>Dashboard</h1>
                                <div>
                                    <h4>
                                        <%= selectBanca[0]['razaosocial'] %>
                                    </h4>
                                    <h4>
                                        <%= selectBanca[0]['cnpjbanca']%>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body cardsDashboard">
                            <div class="row">
                                <div class="col">
                                    <div class="card-body">
                                        <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                                            <div class="card-header">
                                                <h3>Clientes</h3>
                                            </div>
                                            <div class="card-body">
                                                    <h5 class="card-title">
                                                        
                                                        <%= contCliente %>
                                                    </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card-body">
                                        <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                                            <div class="card-header">
                                                <h3>Produtos</h3>
                                            </div>
                                            <div class="card-body">
                                                    <h5 class="card-title">
                                                        <%= contProduto %>
                                                    </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card-body">
                                        <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                                            <div class="card-header">
                                                <h3>Compras</h3>
                                            </div>
                                            <div class="card-body">
                                                    <h5 class="card-title">
                                                        <%= contCompra %>
                                                    </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </main>
    </body>
    <%- include ('./partials/foot.ejs') %>