<%- include ('../partials/head.ejs') %>

<body>
        <%- include ('../partials/navbar.ejs') %>
            <div class="container">
                <div class="container">
                    <% if (tabela=='cliente') { %>
                        <a href="/clientes/pagina/1"><button type="button" class="voltar btn btn-success">Voltar para a lista</button></a>
                        <div class="card">
                            <div class="card-header bg-primary text-center">
                                <h4 class="text-light">Edição de <%= nome %></h4>
                            </div>
                            <div class="card-body">
                                <form action="/atualizarCadastro" method="post">
                                    <div class="row mb-3">
                                        <input type="text" name="tabela" hidden value="<%= tabela %>">

                                        <input type="text" name="id" hidden value="<%= id %>">
                                        <div class="col">
                                            <label for="nome" class="labelNome">Nome</label>
                                            <input type="text" class=" form-control" value="<%= select[0]['nome'] %>" name="nome">
                                        </div>

                                        <div class="col">
                                            <label for="telefone" class="labelNome">Telefone</label>
                                            <input type="tel" value="<%= select[0]['telefone'] %>" pattern="[0-9]{10}|[0-9]{11}" title="(XY) XXXXX-XXXX" placeholder="Não utilize pontuação" class="inputTelefone form-control" name="telefone">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col">
                                            <label for="cpf" class="labelCpf">CPF</label>
                                            <input type="text" value="<%= select[0]['cpf'] %>" pattern="[0-9]{11}" title="XXX.XXX.XXX-XX" placeholder="Não utilize pontuação" class="inputCpf form-control" name="cpf">
                                        </div> 
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col">
                                            <label for="email" class="labelEmail">Email</label>
                                            <input type="text" value="<%= select[0]['email'] %>" class="inputEmail form-control" name="email">
                                        </div>

                                        <div class="col">
                                            <label for="senha" class="labelEmail">Senha</label>
                                            <input type="password" class="inputSenha form-control" name="senha">
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary submitOperacao">Atualizar</button>
                                  </form>
                            </div>
                          </div>                       

                    <% } else if(tabela=='gerente') {%>
                        <a href="/gerentes/pagina/1"><button type="button" class="voltar btn btn-success">Voltar para a lista</button></a>
                        <div class="card">
                            <div class="card-header bg-primary text-center">
                                <h4 class="text-light">Edição de <%= nome %></h4>
                            </div>
                            <div class="card-body">
                                <form action="/atualizarCadastro" method="post">
                                    <div class="mb-3">
                                        <input type="text" name="tabela" hidden value="<%= tabela %>">
                                        <input type="text" name="id" hidden value="<%= id %>">

                                        <div class="row mb-3">
                                            <div class="col-8">
                                                <label for="nome">Nome</label>
                                                <input type="text" value="<%= select[0]['nome'] %>" class="form-control" name="nome">
                                            </div>

                                            <div class="col-4">
                                                <label for="salario">Salário</label>
                                                <input type="number" value="<%= select[0]['salario'] %>" class="form-control" step="0.01" placeholder="Casas decimais com vírgula" name="salario">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col">
                                                <label for="email">Email</label>
                                                <input type="email" value="<%= select[0]['email'] %>" class="form-control" name="email">
                                            </div>

                                            <div class="col">
                                                <label for="senha">Senha</label>
                                                <input type="password" class="form-control" name="senha">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary submitOperacao">Atualizar</button>
                                  </form>
                            </div>
                          </div>  
                    <% } else if (tabela == 'vendedor') {%>
                        <a href="/vendedores/pagina/1"><button type="button" class="voltar btn btn-success">Voltar para a lista</button></a>
                        <div class="card">
                            <div class="card-header bg-primary text-center">
                                <h4 class="text-light">Edição de <%= nome %></h4>
                            </div>
                            <div class="card-body">
                                <form action="/atualizarCadastro" method="post">
                                    <div class="mb-3">
                                        <input type="text" name="tabela" hidden value="<%= tabela %>">
                                        <input type="text" name="id" hidden value="<%= id %>">

                                        <div class="row mb-3">
                                            <div class="col-4">
                                                <label for="nome">Nome</label>
                                                <input type="text" value="<%= select[0]['nome'] %>" class="form-control" name="nome">
                                            </div>

                                            <div class="col-4">
                                                <label for="salario">Salário</label>
                                                <input type="number" value="<%= select[0]['salario'] %>" class="form-control" step="0.01" placeholder="Casas decimais com vírgula" name="salario">
                                            </div>

                                            <div class="col-4">
                                                <label for="salario">Comissão</label>
                                                <input type="number" value="<%= select[0]['comissao'] %>" class="form-control" step="0.01" placeholder="Casas decimais com vírgula" name="comissao">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col">
                                                <label for="email">Email</label>
                                                <input type="email" value="<%= select[0]['email'] %>" class="form-control" name="email">
                                            </div>

                                            <div class="col">
                                                <label for="senha">Senha</label>
                                                <input type="password" class="form-control" name="senha">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary submitOperacao">Atualizar</button>
                                  </form>
                            </div>
                          </div>  
                    <% } %>
                </div>
            </div>
    </body>

    <%- include ('../partials/foot.ejs') %>