<%- include ('../partials/head.ejs') %>

<body>
        <%- include ('../partials/navbar.ejs') %>
            <div class="container">
                <a href="/"><button type="button" class="voltar btn btn-success">Voltar para o início</button></a>
                <div class="container">
                    <% if (tabela=='cliente') { %>
                        <div class="card">
                            <div class="card-header bg-primary text-center">
                                <h4 class="text-light">Cadastro de <%= nome %></h4>
                            </div>
                            <div class="card-body">
                                <form action="/realizarCadastro" method="post">
                                    <div class="mb-3 campoCliente">
                                      <label for="nome" class="labelNome">Nome</label>
                                      <input type="text" class="inputNome form-control" name="nome">
                                      <input type="text" name="tabela" hidden value="<%= tabela %>">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                                  </form>
                            </div>
                          </div>                       

                    <% } else if(tabela=='gerente') {%>
                        <div class="card">
                            <div class="card-header bg-primary text-center">
                                <h4 class="text-light">Cadastro de <%= nome %></h4>
                            </div>
                            <div class="card-body">
                                <form action="/realizarCadastro" method="post">
                                    <div class="mb-3 campoCliente">
                                      <label for="nome" class="labelNome">Nome</label>
                                      <input type="text" class="inputNome form-control" name="nome">
                                      <input type="text" name="tabela" hidden value="<%= tabela %>">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                                  </form>
                            </div>
                          </div>  
                    <% }%>
                </div>
            </div>
    </body>

    <%- include ('../partials/foot.ejs') %>